* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1em;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.instagram-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.instagram-phone img{
  height: 42rem;
}

.instagram-continue {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 36rem;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding: 1rem 0;
  border: 1px solid #d3d3d3;
}

.group:nth-child(1) {
  margin-top: 3rem;
  min-height: 19rem;
}

.instagram-logo {
  height: 3rem;
}

.profile-photo img{
  background-image: linear-gradient(220deg, #c52e92, #fa9f4e 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 4px;
  border-radius: 50vh;
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.profile-photo img {
  height: 6rem;
  width: 6rem;
  object-fit: cover;
}

.instagram-login {
  background-color: #0094f6dd;
  color: #ffffff;
  padding: .5rem;
  border-radius: .25rem;
}

.instagram-logout {
  color: #0094f6dd;
  margin-top: 1rem;
}


.instagram-login:hover {
  background-color: #0094f6;
}

.instagram-logout:hover {
  color: #0094f6;
}

.not-account {
  color: #a0a0a0;
}

.link-blue {
  color: #0094f6dd;
}

.link-blue:hover {
  color: #0094f6;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.download {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.app-download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.app-download:nth-child(1) {
  background-image: url("/Projetos/RecriandoPaginaInicalInstagram/assets/img/apple-button.png");
}

.app-download:nth-child(2) {
  background-image: url("/Projetos/RecriandoPaginaInicalInstagram/assets/img/googleplay-button.png");
}